/ensemble_efres.nc
/ensemble_gwp.nc
/ensemble_n2o.nc
/ensemble_netGHG.nc
/ensemble_nstrawexp.nc
/ensemble_nstraw.nc
/ensemble_soc.nc
/ensemble_yield.nc
/nc_rg_mask.nc
/nc_rg_soil.nc
/rg_arable_airchem_rcp45_1950-2100.txt.gz
/rg_arable_airchem_rcp85_1950-2100.txt.gz
/rg_arable_precipitation.nc
/rg_arable_temp-yearly.nc
